.App {
  text-align: center;
}


.App-header {
  background-color: #2d4148;
  padding: 10px;
  color: #2d4148;
}

.App-intro {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10px;
  padding: 10px;
}



